.profileContainer {
  background: linear-gradient(360deg, #efebe8 85%, transparent 50%);
  padding: 15px;
  border-radius: 25px;
  display: inline-block;
  width: 100%;
  text-align: -webkit-center;
}

.container.profileWrapper {
  border: 1px solid rgba(255, 250, 205, 0.116);
  border-radius: 30px;
}

button.ui.button.editProfile {
  background-color: #a4b792;
  color: #2a3b19;
}

button.ui.button.editProfile:hover {
  background-color: #2a3b19;
  color: lemonchiffon;
}

.ui.form.friendSearch {
  display: flex;
  width: 100%;
}

.avatar {
  border-radius: 50%;
  height: 150px;
  border: solid 10px #efebe8;
  min-height: auto;
}

.ui.card {
  width: 80%;
}

.data {
  text-align: left;
}

.ui.button.dataButton {
  color: #2a3b19;
  background-color: #a4b792;
  border: solid;
  height: auto;
  width: 25%;
  margin: 15px;
}

@media only screen and (max-width: 700px) {
  .ui.button.dataButton {
    width: 80%;
  }
}

.dataDigit {
  font-size: 26px;
  color: lemonchiffon;
}

.userData {
  background-color: #efebef;
  color: lemonchiffon;
  padding: 30px;
}

.friendsList {
  background: #efebe8;
  padding: 10px;
  border-radius: 10px;
}
.ui.items>.item>.image>img {
  border-radius: 50%;
}

@media only screen and (max-width: 800px) {
  .ui.vertical.divider {
    display: none;
  }
}
