.PlanticaLogo {
  position: absolute;
  display: block;
  max-width: 80px;
  transition: all .2s ease-in-out;
  opacity: 80%;
  z-index: 1;
}

.PlanticaLogo:hover {
  transform: scale(1.3) rotate(360deg);
  opacity: 80%;
  cursor: pointer;
}

.PlanticaLogo:active {
  transform: scale(1.1) rotate(360deg);
}

.ui.left.overlay.sidebar {
  background-color: #2a3b19;
}