.ui.container.plantOfTheDay {
  background-color: #2a3b19;
}

div.column>.plantReveal {
  display: block;
  text-align: center;
  padding-top: 200px;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px) saturate(100%) contrast(45%) brightness(130%);
  height: 500px;
}

.plantCard {
    background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px) saturate(100%) contrast(45%) brightness(130%);
  text-align: center;
}

.leafPlaceholder {
    height: 300px;
    background-color: lemonchiffon;
}