.signupContainer {
  background-color: lightgray;
  color: #2a3b19;
  margin: 50px;
  padding: 20px;
  text-align: center;
}

.signUpError {
  padding-left: 15px;
  color: #9f3a38;
  font-size: 1em;
}

form.form {
  text-align: left;
}
form.form label {
  padding-left: 15px;
}