.signupContainer {
  background-color: #efebe8;
  color: #2a3b19;
  margin: 50px;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
}

.container.signupWrapper {
  border: 1px solid rgba(255, 250, 205, 0.116);
  border-radius: 30px;
}

.signUpError {
  padding-left: 15px;
  color: #9f3a38;
  font-size: 1em;
}

form.form {
  text-align: left;
}

.passwordIconSignUp {
  color: #2a3b19;
  position: absolute;
  top: 338px;
  right: 10px;
  z-index: 1000;
}

.ui.container.loginLink {
  margin: 20px;
  border-radius: 20px;
  text-align: center;
}

.loginLink a:hover {
  cursor: pointer;
}

@media only screen and (max-width: 767px) {
  .signupContainer {
    margin: 0;
  }
}