.loginContainer {
  background-color: lightgray;
  color: #2a3b19;
  margin: 50px;
  padding: 20px;
  display: flex;
  justify-content: center;
}

.ui.form {
  margin: 5px;
  padding: 5px;
  width: 50%;
  display: inline-block;
}

@media only screen and (max-width: 600px) {
  .ui.form {
  width: 80%;
  display: inline-block;
  }
}

.loginContainer button {
  background-color: #2a3b19;
  color: #efebe8;
  margin-top: 10px;
  padding: 5px;
}

.passwordIcon {
  position: absolute;
  top: 65px;
  right: 10px;
  z-index: 1000;
}

a {
  color: #2a3b19;
}

a:hover {
  color: lemonchiffon;
}
