.loginContainer {
  background-color: #efebe8;
  border-radius: 10px;
  margin: 50px;
  padding: 20px;
  display: flex;
  justify-content: center;
}

label {
  color: #2a3b19;
}

.ui.form {
  margin: 5px;
  padding: 5px;
  width: 50%;
  display: inline-block;
}

@media only screen and (max-width: 600px) {
  .ui.form {
  width: 80%;
  display: inline-block;
  }
}

.loginContainer button {
  background-color: #2a3b19;
  color: #efebe8;
  margin-top: 10px;
  padding: 5px;
}

.passwordIcon {
  color: #2a3b19;
  position: absolute;
  top: 110px;
  right: 10px;
  z-index: 1000;
}

.ui.container.signUp {
  margin: 20px;
  border-radius: 20px;
  text-align: center;
}

a {
  color: lemonchiffon;
}

a:hover {
  color: #2a3b19;
  cursor: pointer;
}
