.loginContainer {
  background-color: #efebe8;
  color: #2a3b19;
  margin: 50px;
  padding: 20px;
}

.ui.form {
  margin: 5px;
  padding: 5px;
  width: 50%;
  display: inline-block;
}

@media only screen and (max-width: 600px) {
  .ui.form {
  width: 80%;
  display: inline-block;
  }
}

.loginContainer button {
  background-color: #2a3b19;
  color: #efebe8;
  margin-top: 10px;
  padding: 5px;
}
