.parallaxPlant {
  padding: 50px 10px 50px 10px;
  height: 400px;

  min-height: 200px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
}

.quote {
  font-size: 50px;
  color: white;
  text-align: center;
  padding-top: 100px;
  width: 80%;
}

@media only screen and (max-width: 800px) {
  .quote {
    font-size: 30px;
    width: 100%;
  }
}
