.searchContainer {
  background-color: #efebe8;
  text-align: center;
  padding-top: 75px;
}

.ui.animated.button {
  margin: 10px;
  z-index: 0;
}

.visible.content.searchPlantBtn {
  text-align: center;
}